body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;

}

/* WALLPAPER */
.wallpaperImage {
  position: absolute;
  z-index: -1;

  height: 95%;
  width: 95%;
  margin-inline: auto;

  border-radius: 4rem;

  border: solid rgb(26, 26, 26) 8px;

  animation: fadeIn 1 1s ease-out;

  /* -webkit-filter:brightness(110%);
    -moz-filter:brightness(110%);
    filter: url(#brightness);
    filter:brightness(110%); */

}

/* -----MENU BAR------ */
.menuItem {
  font-size: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
  color:  rgba(15, 43, 9, 0.589);

  /* color: rgba(255, 255, 255, 0.565); */
  padding: .2rem 1rem;
  background-color:  rgba(15, 43, 9, 0.236);
  border-radius: 25px;
  border-style: none;
}

.menuItem:hover{ 
  background-color:  rgba(15, 43, 9, 0.364);
}

.menuItems{ 
  display: none;
  position: absolute !important;
  margin: 2rem;
}

.show {
  display: flex;
  flex-direction: column;
}
.menuBar{
  width: 100%;
  justify-content: space-between;  
}

.menuBar i {
  color: rgba(15, 43, 9, 0.566) !important;
}

/* -----DOCK------ */
.dock {
  margin-top: auto;
  margin-bottom: 1rem;
  padding: 0 1.3rem;
  height: 4.5rem;
  width: 30%;
  background-color: rgba(219, 207, 207, 0.678);
  border-radius: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.app {
  background-color: rgb(66, 58, 58);
  width: 4.1rem;
  height: 4.1rem;
  margin-top: auto;
  margin-bottom: auto;

  border-radius: 5px;
  border-style: none;
}

/* -----WINDOW----- */
.window {
  z-index: 3;
  display: none;
  position: absolute;
  /* max-height: min-content; */
  /* display: block !important; */
}

.windowHeader {
  /* padding: 1rem 0; */
  border-bottom: 1px solid white;
  font-size: 1.5rem;
  padding: 1rem;
}

.close { /* closing windows */
  border: none;
  display:block;
  float: right;
  position: absolute !important;
  padding: 8px 16px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 100px;
  z-index: 4;
  position: relative;
  right:0;
  top:0;
}

/* -----WELCOME WINDOW----- */
#welcome {
  font-size: 1.2rem;
  background-color: rgb(50, 48, 48);
  width: 35%;
  padding: 1rem;

  margin-top: 15rem;
  border-radius: 25px;
  color: wheat;
}

#welcomeText {
  padding: 2rem;
}

#blinker {
  color: rgb(50, 48, 48);
  display: inline;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: wheat;
    color: wheat;
  }
}

/* -----PHOTOGRAPHY WINDOW----- */
#photography {
  font-size: 1.2rem;
  background-color: rgba(34, 46, 65, 0.863);
  width: 90%;
  height: 78%;
  /* padding : 1rem; */
  
  margin: auto;
  margin-top: 5rem;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

#photographyContent {
  margin-top: 3rem;
  overflow: scroll !important;
  font-size: 1.2rem;
  /* background-color: rgb(221, 214, 214); */
  position: relative;
  width: 100%;
  height: 96%;
  margin-inline: auto;
  margin-top: 0;
  padding-top: 3rem;


  border-bottom: 25px;
  background-color: whitesmoke;
  /* background-color: rgb(231, 223, 223); */
  color: black;
}



@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}